@{
    ViewBag.Title = "Home Page";
}
@*<hr />
<table style="width:100%;">
    <tr>
        <td>Users</td>
        <td>Cases</td>
        <td>Teams</td>
    </tr>
    <tr>
        <td><img src="~/Images/Home/Users.png"/>@Html.ActionLink("Users", "Index", "Users")</td>
        <td><img src="~/Images/Home/cases.png"/></td>
        <td><img src="~/Images/Home/team.png" />@Html.ActionLink("Teams", "Index", "Teams")</td>
    </tr>
    
</table>
<hr />*@